<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="{{ site.baseurl }}/" class="navbar-link {% if page.nav == 'about' %}active{% endif %}">About</a></li>
        <li class="navbar-item"><a href="{{ site.baseurl }}/background/" class="navbar-link {% if page.nav == 'background' %}active{% endif %}">Background</a></li>
        <li class="navbar-item"><a href="{{ site.baseurl }}/portfolio/" class="navbar-link {% if page.nav == 'portfolio' %}active{% endif %}">Portfolio</a></li>
        <li class="navbar-item"><a href="{{ site.baseurl }}/blog/" class="navbar-link {% if page.nav == 'notes' or layout.name == 'post' %}active{% endif %}">Notes</a></li>
        <li class="navbar-item"><a href="{{ site.baseurl }}/contact/" class="navbar-link {% if page.nav == 'contact' %}active{% endif %}">Contact</a></li>
    </ul>
</nav>
