<aside class="sidebar " data-sidebar>
    <div class="sidebar-info">
        <figure class="avatar-box">
            <img src="https://i.postimg.cc/JzBWVhW4/my-avatar.png" alt="avatar" width="80">
        </figure>

        <div class="info-content">
            <h1 class="name" title="Kapil Pidhwani">Kapil Pidhwani</h1>
            <p class="title">Marketing Strategist</p>
        </div>

        <button class="info-more-btn" data-sidebar-btn>
            <span>Show Contacts</span>
            <ion-icon name="chevron-down"></ion-icon>
        </button>
    </div>

    <div class="sidebar-info-more">
        <div class="separator"></div>

        <ul class="contacts-list">
            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="mail-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Email</p>

                    <a href="mailto:kapildoesmarketing@gmail.com" class="contact-link">kapildoesmarketing@gmail.com</a>
                </div>
            </li>

            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="phone-portrait-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Phone</p>

                    <a href="tel:+918329870799" class="contact-link">+91 83298 70799</a>
                </div>
            </li>

            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="calendar-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Birthday</p>

                    <time datetime="1994-01-01">Jan 01, 1994</time>
                </div>
            </li>

            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="location-outline"></ion-icon>
                </div>

                <div class="contact-info">
                    <p class="contact-title">Location</p>

                    <address>Gurgaon, Haryana, India</address>
                </div>
            </li>
        </ul>

        <div class="separator"></div>

        <ul class="social-list">
            <li class="social-item"><a href="https://www.linkedin.com/in/kapilpidhwani/" class="social-link"
                    target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            <li class="social-item"><a href="https://www.instagram.com/kapildoesmarketing/" class="social-link"
                    target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
    </div>
</aside>
